@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
body {
  margin: 0;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../assets/image/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  .wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

    h1 {
      font-size: 36px;
      text-align: center;
    }

    .input-box {
      position: relative;
      width: 100%;
      height: 50px;
      margin: 30px 0;

      .input-text {
        width: 100%;
        height: 100%;
        background: transparent;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 40px;
        font-size: 16px;
        color: #fff;
        padding: 0 0 0 20px;
      }

      .input-text::placeholder {
        color: #fff;
      }

      .icons {
        position: absolute;
        right: 0;
        top: 55%;
        transform: translateY(-50%);
        font-size: 16px;
      }
    }

    .remember-forgot {
      display: flex;
      justify-content: space-between;
      font-size: 14.5px;
      margin: -15px 0 15px;

      label,
      input {
        accent-color: #fff;
        margin-right: 4px;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    button {
      width: 100%;
      height: 45px;
      background: #fff;
      border: none;
      outline: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      font-size: 16px;
      color: #333;
      font-weight: 700;
    }

    .register-link {
      font-size: 14.5px;
      text-align: center;
      margin-top: 20px 0 15px;

      p,
      a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
      }
      &a:hover {
        text-decoration: underline;
      }
    }
  }
}
