.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
}

.fLists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  font-size: 16px;
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}

.fText {
  font-size: 14px;
  font-weight: 500;
}
