.houseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.houseWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.bookNow {
  position: absolute;
  top: 16px;
  right: 0;
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.bookNow:hover {
  color: black;
  background-color: gray;
}

.houseTitle {
  font-size: 24px;
}

.houseAddress {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
  color: rgb(22, 22, 22);
}

.houseDistance {
  color: #0071c2;
  font-weight: 500;
  font-size: 16px;
}

.housePriceHightlight {
  color: #008009;
  font-weight: 500;
  font-size: 16px;
}

.houseImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.houseImageWrapper {
  width: 33%;
  height: 20%;
}

.houseImage {
  width: 100%;
  object-fit: cover;
}

.houseDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.houseDetailsText {
  flex: 3;
}

.houseDesc {
  font-size: 16px;
  margin-top: 20px;
}

.houseDetailsPrice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.houseDetailsPrice > h1 {
  font-size: 20px;
  color: #555;
}

.houseDetailsPrice > span {
  font-size: 16px;
}

.houseDetailsPrice > h2 {
  font-weight: 300;
}

.houseDetailsPrice > button {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.slider {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.426);
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.sliderImg {
  width: 80%;
  height: 80vh;
}

.arrow {
  margin: 20px;
  font-size: 40px;
  color: lightgray;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
