.navbar {
  height: 130px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  color: #003580;
  font-size: 16px;
}
