.pList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pListTitle > h1 {
  font-size: 18px;
  color: #444;
  text-transform: capitalize;
}

.pListTitle > h2 {
  font-size: 16px;
  font-weight: 300;
}
